/* import custom font */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme{
  /* custom colors */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-grey-300: hsla(233, 8%, 79%, 1);
  --color-grey-200: hsla(0, 0%, 85%, 1);
  --color-navy-950: hsla(240, 100%, 5%, 1);
  --color-navy-600: hsla(236, 13%, 42%, 1);
  --color-gold: hsla(35, 77%, 62%, 1);
  --color-red: hsla(4, 85%, 63%, 1);
  
  /* customise default tailwind spacing */
  --spacing: 0.5rem;
  
  /* custom font-size */
  --text-xxl: 3.5rem;     /* 56px */
  --text-xl: 2.5rem;      /* 40px */
  --text-lg: 2rem;        /* 32px */
  --text-md: 1.25rem;     /* 20px */
  --text-base: 1.125rem;  /* 18px */
  --text-sm: 0.9375rem;   /* 15px */
  --text-xs: 0.875rem;    /* 14px */
  
  /* custom line height */
  --leading-tight: 1.2;
  --leading-snug: 1.33;
  --leading-relaxed: 1.714;
  --leading-loose: 1.733;
  
  /* custom font */
  --font-inter: "Inter", sans-serif;
  
  /* logo custom size */
  --logo-w-sm: 45px;
  
  /* customise breakpoint */
  --breakpoint-md: 770px;
}

@layer base {
  /* base font family */
  body{
    @apply font-inter;
  }
}

/* text preset utility classes */
@utility text-preset-1{
  @apply text-xxl leading-none font-extrabold;
}

@utility text-preset-2{
  @apply text-xl leading-none font-extrabold;
}

@utility text-preset-3{
  @apply text-lg leading-none font-bold;
}

@utility text-preset-4{
  @apply text-md leading-tight font-extrabold;
}

@utility text-preset-5{
  @apply text-base leading-snug font-extrabold;
}

@utility text-preset-6{
  @apply text-sm leading-loose font-normal;
}

@utility text-preset-7{
  @apply text-xs leading-relaxed font-bold tracking-[4.38px];
}